body{
	background-color:lightgreen;
}
/* .product{
	background-color:lightgreen;
} */
/* .product__photo{
	position:absolute;
} */
.photo-container{
	background-color:limegreen;
}
.photo-album{
	background-color:white;
}
.controls{
	display:flex;
	justify-content:space-between;
}
.fa{
	color:white;
}
.photo-album2{
	display:flex;
	text-decoration:none;
	list-style:none;
}
.photo-album2>li{
	border-radius:5px;
	border:1px solid grey;
}
.product__info{
	position:relative;
	background-color:white;
	margin:100px;
	padding: 50px 10px 10px 400px;
}
.code{
	color:grey;
	
}
.price{
	color:red;
}
.rupee{
	font-size:40px;
}
.variant{
	color:grey;
}
.benefits{
	color:grey;
}
.button{
	padding:10px;
	color:white;
	background-color:red;
	border-radius:10px;
}



